#colwid_button {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px hsl(228deg 3% 59% / 30%),
    inset 0 1px 2px 1px hsla(228, 8%, 88%, 0.1);
  cursor: pointer;
  display: flex;
  margin: 0;
  padding: 8px 12px;
}

#colwid_button > .left_pfx {
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 70px;
}
#colwid_button > .left_pfx > .mg_pfx {
  color: #8c909c;
}
#colwid_button > .left_pfx > .sc_pfx {
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.4286;
}
#colwid_button > .right_pfx {
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin-left: 20px;
}
#colwid_button > .right_pfx > .badge_pfx {
  background-color: #3b3d45;
  border-radius: 4px;
  color: #fff;
  font-size: 90%;
  padding: 4px 8px 4px 8px;
}
#colwid_button > .right_pfx > .badge_pfx:last-child {
  margin-left: 5px;
}

.colwid_error {
  color: #cc0000;
  font-size: 80%;
}

.colwid_link:focus,
.colwid_focus {
  border: 1px solid #666 !important;
  box-shadow: 0px 0px 0px 3px rgba(89, 144, 255, 1);
}

#colwid_modal {
  background: #3b3d4566;
  bottom: 0;
  box-sizing: border-box;
  display: none;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 0.3s;
  z-index: 100;
  overflow: hidden;
}
#colwid_modal * {
  box-sizing: border-box;
}
#colwid_modal > .wrap_pfx {
  align-items: flex-start;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding-top: 20vh;
  width: 100vw;
}
#colwid_modal > .wrap_pfx > .content_pfx {
  align-items: stretch;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 0 1px #3b3d4540, 0px 2px 3px 0px #3b3d4540,
    0px 12px 24px 0px #3b3d4559;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-height: 396px;
  max-width: 820px;
  overflow-y: auto;
  padding: 0;
  width: 100%;
}
#colwid_modal > .wrap_pfx > .content_pfx > .bottom_pfx {
  box-shadow: 0 0 0 1px #656a7633;
  height: 52px;
  padding: 10px 20px 10px 20px;
}
#colwid_modal > .wrap_pfx > .content_pfx > .bottom_pfx > div:first-child {
  align-items: center;
  display: contents;
  height: inherit;
}
#colwid_modal
  > .wrap_pfx
  > .content_pfx
  > .bottom_pfx
  > div:first-child
  span:nth-child(even) {
  font-size: 0.8125rem;
  padding: 0 8px 0 8px;
}
/* collie ai logo */
#colwid_modal > .wrap_pfx > .content_pfx > .bottom_pfx > div > a {
  color: inherit;
  float: right;
}
/* hide collie ai logo on mobile */
@media (max-width: 820px) {
  #colwid_modal > .wrap_pfx > .content_pfx > .bottom_pfx > div > a {
    display: none;
  }
}

#colwid_modal
  > .wrap_pfx
  > .content_pfx
  > .bottom_pfx
  > div:first-child
  span:nth-child(odd) {
  align-items: center;
  border-radius: 4px;
  border: 1px solid transparent;
  display: inline-flex;
  background-color: #f1f2f3;
  color: #3b3d45;
  font-size: 0.8125rem;
  line-height: 1.23077;
  min-height: 1.25rem;
  padding: 1px 5px;
}
#colwid_modal
  > .wrap_pfx
  > .content_pfx
  > .bottom_pfx
  > div:first-child
  span:nth-child(odd)
  svg {
  height: 12px;
  width: 12px;
}
#colwid_modal > .wrap_pfx > .content_pfx > .middle_pfx {
  overflow-x: hidden;
  overflow-y: scroll;
  flex-grow: 1;
  padding: 20px;
}
#colwid_modal > .wrap_pfx > .content_pfx > .middle_pfx > a {
  align-items: center;
  border: 1px solid #fff;
  border-radius: 5px;
  display: flex;
  margin-top: 3px;
  padding: 8px;
  text-decoration: none;
}
#colwid_modal > .wrap_pfx > .content_pfx > .middle_pfx > a:hover {
  background-color: #f1f2f3;
  border: 1px solid #656a7633;
}
#colwid_modal > .wrap_pfx > .content_pfx > .middle_pfx > a:focus {
  background-color: #f1f2f3;
  outline: none;
}
#colwid_modal > .wrap_pfx > .content_pfx > .middle_pfx > a span:first-child {
  color: #3b3d45;
  /* height: 16px;
  width: 16px; */
}
#colwid_modal
  > .wrap_pfx
  > .content_pfx
  > .middle_pfx
  > a
  span:last-child:not(.hit) {
  color: #3b3d45;
  font-size: 0.875rem;
  font-weight: 500;
  padding-left: 8px;
}
#colwid_modal > .wrap_pfx > .content_pfx > .middle_pfx > p {
  color: #3b3d45;
  font-size: 0.8125rem;
  font-weight: 600;
  margin: 0;
  padding: 0 0 8px 8px;
}
#colwid_modal > .wrap_pfx > .content_pfx > .middle_pfx > p:nth-of-type(2) {
  border-top: 1px solid #656a7633;
  margin-top: 12px;
  padding: 20px 0 8px 8px;
}
#colwid_modal > .wrap_pfx > .content_pfx > .middle_pfx > .not_found {
  color: #3b3d45;
}
#colwid_modal > .wrap_pfx > .content_pfx > .middle_pfx > .result_row {
  align-items: stretch;
  border: 1px solid #fff;
  border-radius: 5px;
  display: flex;
  margin-top: 3px;
  padding: 8px;
}
#colwid_modal
  > .wrap_pfx
  > .content_pfx
  > .middle_pfx
  > .result_row:first-child {
  margin-top: 0;
}
#colwid_modal > .wrap_pfx > .content_pfx > .middle_pfx > .result_row:hover {
  background-color: #f1f2f3;
  border: 1px solid #656a7633;
}
#colwid_modal
  > .wrap_pfx
  > .content_pfx
  > .middle_pfx
  > .result_row:hover
  > div:first-child
  span:first-child {
  background-color: #3b3d45;
  color: #f1f2f3;
}
#colwid_modal > .wrap_pfx > .content_pfx > .middle_pfx > .result_row:focus {
  background-color: #f1f2f3;
  outline: none;
}
#colwid_modal
  > .wrap_pfx
  > .content_pfx
  > .middle_pfx
  > .result_row:focus
  > div:first-child
  span:first-child {
  background-color: #3b3d45;
  color: #f1f2f3;
}
#colwid_modal
  > .wrap_pfx
  > .content_pfx
  > .middle_pfx
  > .result_row
  > div:first-child {
  align-items: center;
  display: flex;
  flex: 80px 0 0;
  flex-direction: column;
  overflow: hidden;
  margin: 0 10px 0 0;
  width: 80px;
}
#colwid_modal
  > .wrap_pfx
  > .content_pfx
  > .middle_pfx
  > .result_row
  > div:first-child
  span:first-child {
  background-color: #f1f2f3;
  border-radius: 5px;
  color: #3b3d45;
  font-weight: bold;
  padding: 5px;
}
#colwid_modal
  > .wrap_pfx
  > .content_pfx
  > .middle_pfx
  > .result_row
  > div:first-child
  span:last-child {
  color: #3b3d45;
  font-size: 60%;
  margin-top: 5px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  width: inherit;
}
#colwid_modal
  > .wrap_pfx
  > .content_pfx
  > .middle_pfx
  > .result_row
  > div:last-child {
  border-left: 1px solid #656a7633;
  color: #60697b;
  font-size: 100%;
  padding: 0 10px 0 10px;
}
#colwid_modal
  > .wrap_pfx
  > .content_pfx
  > .middle_pfx
  > .result_row
  > div:last-child
  .hit {
  background-color: #fef1de;
  padding: 0.05rem 0.4rem 0.2rem;
}

#colwid_modal
  > .wrap_pfx
  > .content_pfx
  > .middle_pfx
  > .result_row
  #importance {
  font-size: 80%;
}
#colwid_modal > .wrap_pfx > .content_pfx > .top_pfx {
  align-items: center;
  border-bottom: 1px solid #656a7633;
  display: flex;
  flex: 56px 0 0;
  justify-content: space-between;
  height: 56px;
  padding: 0 12px 0 12px;
}
#colwid_modal > .wrap_pfx > .content_pfx > .top_pfx > .badges_pfx {
  align-items: center;
  display: flex;
}
#colwid_modal > .wrap_pfx > .content_pfx > .top_pfx > .badges_pfx > span {
  border: 1px solid #3b3d45;
  border-radius: 4px;
  color: #3b3d45;
  font-size: 78%;
  height: 20px;
  line-height: 18px;
  padding: 0 5px 0 5px;
}
#colwid_modal
  > .wrap_pfx
  > .content_pfx
  > .top_pfx
  > .badges_pfx
  > span:last-child {
  font-weight: 600;
  margin-left: 5px;
}
#colwid_modal > .wrap_pfx > .content_pfx > .top_pfx > .category_pfx {
  align-items: center;
  border: 1px solid #3b3d4566;
  border-radius: 50px;
  display: none;
  height: 25px;
  margin-left: 10px;
}
#colwid_modal > .wrap_pfx > .content_pfx > .top_pfx > .category_pfx > span {
  color: #3b3d45;
  font-size: 0.8125rem;
  padding: 0 8px 0 4px;
}
#colwid_modal > .wrap_pfx > .content_pfx > .top_pfx > .category_pfx > button {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0 2px 0 8px;
}
#colwid_modal
  > .wrap_pfx
  > .content_pfx
  > .top_pfx
  > .category_pfx
  > button
  > * {
  height: 12px;
  width: 12px;
}
#colwid_modal > .wrap_pfx > .content_pfx > .top_pfx > .input_pfx {
  align-items: stretch;
  border: 1px solid #fff;
  border-radius: 4px;
  display: flex;
  flex-grow: 1;
  height: 32px;
  margin: 0 10px 0 10px;
}
#colwid_modal > .wrap_pfx > .content_pfx > .top_pfx > .input_pfx > .loader {
  display: none;
  height: 30px;
  width: 30px;
}
#colwid_modal > .wrap_pfx > .content_pfx > .top_pfx > .input_pfx > button {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}
#colwid_modal
  > .wrap_pfx
  > .content_pfx
  > .top_pfx
  > .input_pfx
  > button:focus {
  outline: none !important;
}
#colwid_modal > .wrap_pfx > .content_pfx > .top_pfx > .input_pfx > input {
  border: none;
  border-radius: 4px;
  flex-grow: 1;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 100%;
  line-height: 1.5;
  height: 100%;
  padding-left: 5px;
}
#colwid_modal > .wrap_pfx > .content_pfx > .top_pfx > .input_pfx > input:focus {
  outline: none;
}

@media all and (max-width: 1140px) {
  #colwid_button {
    padding: 8px 10px;
  }
  #colwid_button > .left_pfx > .sc_pfx,
  #colwid_button > .right_pfx {
    display: none;
  }
  #colwid_button > .left_pfx {
    width: 16px;
  }
  #colwid_button > .left_pfx > .mg_pfx {
    color: #fff;
  }
}
@media all and (max-width: 820px) {
  #colwid_modal > .wrap_pfx > .content_pfx {
    border-radius: 0px;
    max-height: none;
    max-width: none;
  }
  #colwid_modal > .wrap_pfx > .content_pfx > .top_pfx > .badges_pfx {
    display: none;
  }
}
@media all and (max-width: 600px) {
  #colwid_modal > .wrap_pfx > .content_pfx > .middle_pfx > .result_row {
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
  }
  #colwid_modal
    > .wrap_pfx
    > .content_pfx
    > .middle_pfx
    > .result_row
    > div:first-child {
    align-items: flex-start;
    flex: 100% 0 0;
    margin: 0;
    width: 100%;
  }
  #colwid_modal
    > .wrap_pfx
    > .content_pfx
    > .middle_pfx
    > .result_row
    > div:last-child {
    border-left: 0;
    margin-top: 10px;
    padding-left: 0;
    flex: 100% 0 0;
    width: 100%;
  }
  #colwid_modal
    > .wrap_pfx
    > .content_pfx
    > .middle_pfx
    > .result_row
    > div:first-child
    span:last-child {
    overflow: hidden;
    text-align: left;
  }
}

/*  */

.result_row div:nth-child(2) div:last-child {
  /* Select the last div in the second div container */
  margin-top: 7px;
  font-size: 14px;
}
